.header
{
  background: $header-bg;
  color: $header-color;
}
.header-content
{
  align-items: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: $site-max-width;
  margin: 0 auto;
  padding: $space;
}
.header__image{
  width: 80px;
  height: 60px;
  margin-top: -1rem;
}
.header__subheader{
  display: flex;
}
.header__title
{
  margin: 0;
}
.header__rightalign
{
  justify-content: flex-end;
}

@media (max-width: 768px) {
  .header-content {
    > .header__subheader {
      align-items: center;

      > .header__image {
        margin-left: -23px;
        margin-right: -14px;
        margin-top: -10px;
        margin-bottom: -10px;
      }
    }

    > .header__rightalign {
      text-align: right;

      > button {
        margin-right: 0;
      }
    }
  }
}

@media (max-width: 425px) {
  .header-content {
    > .header__subheader > .header__title {
      font-size: 22px;
    }

    > .header__rightalign {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      > a {
        margin-right: 0;
      }
    }
  }
}
